In [136]:
import pandas as pd
import time
from datetime import datetime
from datetime import timedelta

In [137]:
df = pd.read_csv('../Datasets/Working_Data/all_data_refined.csv', encoding='utf-8')
input_df = df.filter(['id', 'published', 'type'])
#add news category when available

In [138]:
input_df[:]

        id            published  type
0      3.0  2016-11-23 00:45:32  real
1      4.0  2016-10-17 18:46:52  real
2      5.0  2016-11-12 02:08:39  real
3      6.0  2016-10-20 22:09:04  real
4      7.0  2016-11-21 01:42:23  real
...    ...                  ...   ...
20010  NaN                  NaN  real
20011  NaN                  NaN  real
20012  NaN                  NaN  real
20013  NaN                  NaN  real
20014  NaN                  NaN  real

[20015 rows x 3 columns]

In [139]:
input_df = input_df[input_df['published'].notna()]
print(input_df)

        id            published  type
0      3.0  2016-11-23 00:45:32  real
1      4.0  2016-10-17 18:46:52  real
2      5.0  2016-11-12 02:08:39  real
3      6.0  2016-10-20 22:09:04  real
4      7.0  2016-11-21 01:42:23  real
...    ...                  ...   ...
16839  NaN  2016-10-26 20:58:00  fake
16840  NaN  2016-10-26 21:02:00  fake
16841  NaN  2016-10-26 21:06:00  fake
16842  NaN  2016-10-26 21:09:00  fake
16843  NaN  2016-10-26 21:09:00  fake

[13514 rows x 3 columns]

In [140]:
timestamps = []
for i in range(len(input_df['published'])):
    if(" " in input_df.iloc[i]['published']):
        d,t = input_df.iloc[i]['published'].split(" ")
        timestamps.append(d)  
    else:
        timestamps.append(input_df.iloc[i]['published']) 
input_df['published'] = timestamps
input_df.head

<bound method NDFrame.head of         id   published  type
0      3.0  2016-11-23  real
1      4.0  2016-10-17  real
2      5.0  2016-11-12  real
3      6.0  2016-10-20  real
4      7.0  2016-11-21  real
...    ...         ...   ...
16839  NaN  2016-10-26  fake
16840  NaN  2016-10-26  fake
16841  NaN  2016-10-26  fake
16842  NaN  2016-10-26  fake
16843  NaN  2016-10-26  fake

[13514 rows x 3 columns]>

In [161]:
def slidingWindow(windowSize, currentDate, input_df):
    current = datetime.strptime(currentDate,"%Y-%m-%d")
    oldest = current - timedelta(days=windowSize)
    trending = []
    for i in range(len(input_df['published'])):
        sample = datetime.strptime(input_df.iloc[i]['published'],"%Y-%m-%d")
        if(sample >= oldest and sample < current):
            trending.append(input_df.iloc[i]['published']) #append category when available
    return trending #return category list

'''
# for calculating fractions and identifying trending category.
def categoryFraction(trending):
    
'''

'\ndef categoryFraction(trending):\n    \n'

In [162]:
#calculating
currentDate = "2016-10-25"
windowSize = 7
slidingWindow(windowSize,currentDate,input_df)

['2016-10-21',
 '2016-10-24',
 '2016-10-18',
 '2016-10-21',
 '2016-10-19',
 '2016-10-21',
 '2016-10-22',
 '2016-10-18',
 '2016-10-24',
 '2016-10-24',
 '2016-10-22',
 '2016-10-19',
 '2016-10-19',
 '2016-10-18',
 '2016-10-19',
 '2016-10-23',
 '2016-10-19',
 '2016-10-20',
 '2016-10-18',
 '2016-10-22',
 '2016-10-22',
 '2016-10-21',
 '2016-10-21',
 '2016-10-22',
 '2016-10-21',
 '2016-10-22',
 '2016-10-23',
 '2016-10-22',
 '2016-10-22',
 '2016-10-19',
 '2016-10-24',
 '2016-10-20',
 '2016-10-19',
 '2016-10-21',
 '2016-10-20',
 '2016-10-21',
 '2016-10-18',
 '2016-10-18',
 '2016-10-19',
 '2016-10-20',
 '2016-10-20',
 '2016-10-18',
 '2016-10-18',
 '2016-10-19',
 '2016-10-20',
 '2016-10-22',
 '2016-10-18',
 '2016-10-22',
 '2016-10-20',
 '2016-10-19',
 '2016-10-24',
 '2016-10-21',
 '2016-10-21',
 '2016-10-24',
 '2016-10-22',
 '2016-10-22',
 '2016-10-21',
 '2016-10-23',
 '2016-10-24',
 '2016-10-19',
 '2016-10-18',
 '2016-10-18',
 '2016-10-24',
 '2016-10-24',
 '2016-10-22',
 '2016-10-22',
 '2016-10-23',
 '2016-10-20',
 '2016-10-21',
 '2016-10-21',
 '2016-10-20',
 '2016-10-19',
 '2016-10-21',
 '2016-10-18',
 '2016-10-18',
 '2016-10-19',
 '2016-10-20',
 '2016-10-20',
 '2016-10-21',
 '2016-10-21',
 '2016-10-20',
 '2016-10-21',
 '2016-10-21',
 '2016-10-19',
 '2016-10-22',
 '2016-10-20',
 '2016-10-21',
 '2016-10-20',
 '2016-10-19',
 '2016-10-20',
 '2016-10-24',
 '2016-10-19',
 '2016-10-18',
 '2016-10-24',
 '2016-10-24',
 '2016-10-24',
 '2016-10-21',
 '2016-10-24',
 '2016-10-20',
 '2016-10-18',
 '2016-10-18',
 '2016-10-20',
 '2016-10-19',
 '2016-10-21',
 '2016-10-24',
 '2016-10-23',
 '2016-10-24',
 '2016-10-24',
 '2016-10-22',
 '2016-10-24',
 '2016-10-24',
 '2016-10-22',
 '2016-10-22',
 '2016-10-19',
 '2016-10-18',
 '2016-10-24',
 '2016-10-20',
 '2016-10-20',
 '2016-10-23',
 '2016-10-22',
 '2016-10-18',
 '2016-10-24',
 '2016-10-19']